body {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
letter-spacing: 5px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
background-color: #414141;
color: white;
}

table {
     margin-top: 40px;
     border: 4px dashed orange;
     border-collapse: collapse; 
     -webkit-box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.52); 
     box-shadow: 0px 0px 15px 15px rgba(0,0,0,0.52);
}

td {
    text-align: center;
    padding: 25px;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.9;
    transition: 0.5s;
    cursor: pointer;
}

td:hover {
    background-color: orange;
    opacity: 2;
}

div label {
    font-size: 30px;
    color: red;
    padding: 10px;
}



div span {
    font-size: 30px;
    color: red;
}


button {
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    padding: 15px;
    border: 1px solid orange;
    color: white;
    background-color: #414141;
    border-radius: 10px;
}

button:hover {

    background-color: orange;
    color: black

}

.buttons {
    margin: 40px
}

.timer {
    border: 4px solid black;
    border-radius: 10px;
    padding: 3px
}

.timer:hover {
    background-color: black;
}


.restart {
    border: 3px solid white;
    width: 140px;
}

.correct {
    background-color: palegreen;
    color: #414141
}